* {
	font-family: Verdana;
}

body {
	margin: 0px;
	padding: 0px;
}

#banner {
	width: 800px;
	height: 100px;
	background: #CCC;
	background-image: url('/images/ib3header.jpg');
	margin-left: auto;
	margin-right: auto;
}

#yield {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana;
	font-size: small;
	overflow: auto-scroll;
}

#header_menu {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-family: Verdana;
	font-size: small;
	overflow: auto-scroll;
}

#navigation-bar {
	width: 800px;
	margin: auto;
	font-size: small;
	overflow: auto-scroll;
}

.flashes {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: small;
	overflow: auto-scroll;	
}

#flash_notice {
	border: solid 1px #008040;
	padding: 10px;
	color: #008040;
}

#flash_error {
	border: solid 1px red;
	padding: 10px;
	color: red;
}

table {
	font-size: x-small;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #ddd;
	border: 1px solid #888;
}

td {
	vertical-align: top;
	border-right: 1px solid #888;
	border-top: 1px solid #888;
	margin: 0px;
	padding: 3px;
	background: white;
}

td.subrow {
	padding-bottom: 10px;
	border-top: none;	
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}

th {
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	vertical-align: bottom;
	padding: 5px;
}

.subtable th {
	background: red;
}

.page_block {
	border: 1px solid #444;
	margin: 0px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.top_right_spinner {
	padding: 5px;
	border: 1px solid black;
	background: #408000;
	vertical-align: middle;
	color: white;
}
