<% title( _('Server %s') % @server.dns_name ) %>
<% navigation(
   link_to( 'Edit', edit_server_path(@server) ) + " | " +
   link_to( 'Back', servers_path)

) %>
<p>
  <b>Dns name:</b>
  <%= link_to @server.dns_name, "http://#{@server.dns_name}",  :target => "_blank" %>
</p>

<p>
  <b>Ip:</b>
  <%=h @server.ip %>
</p>

<p>
  <b>Description:</b>
  <%=h @server.description %>
</p>

<p>
  <b>Administrator:</b> <%= link_to @server.administrator.fullname, @server.administrator -%>
</p>

